@tailwind base;
@tailwind components;
@tailwind utilities;
.ele_drag {
  -webkit-app-region: drag; /* 让元素可拖动，设置了drag的元素不可点击 */
}
.no_drag {
  -webkit-app-region: no-drag; /* 设置了drag的元素将不可点击，故设置no-drag，让元素可点击 */
  cursor: pointer;
}